@page
@model TrasladoSeguro.Pages.Clientes.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>

<h3>¿Estas seguro que quieres eliminar?</h3>

<div>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.ConductorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.ConductorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.Idservicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Idservicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Email)
        </dd>

    </dl>

    <form method="post">
        <input type="hidden" asp-for="Clientes.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./index" class="btn btn-primary">Back to list</a>
    </form>
</div>